body {

    font-family: sans-serif;
    height: 100vh;
    background-image: linear-gradient(to right bottom, rgb(35, 35, 190), rgb(142, 6, 142));
    background-repeat: no-repeat;

}


.content {
    width: 400px;
    height: 420px;
    border: 4px solid #ffffff;
    background: none;
    background-size: 400px 420px;
    opacity: 1;
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    border-radius: 15px;
    box-sizing: border-box;
    transform: translate(-50%, -50%);

}

form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 390px;
    height: 480px;
    border-radius: 15px;
    box-sizing: border-box;

}


h2 {
    color: #fff;
    text-align: center;
    margin-top: 60px;
    font-family: 'Instrument Serif', serif;
    font-size: 50px;

}

input[type="email"],
[type="password"],
[type="text"] {
    position: absolute;
    outline: none;
    border: none;
    width: 260px;
    height: 30px;
    border-bottom: 2px solid gray;
    border-radius: 7px;
    background: ivory;
    padding: 5px;
    color: #000000;
    font-size: medium;
    font-weight: 600;

}

input[type="email"] {
    top: 140px;
    left: 50px;


}

[type="password"], [type="text"] {
    top: 210px;
    left: 50px;

}

[placeholder="repeat the Password"] {
    top: 280px;
    left: 50px;
}



/*checkbox */
.remember {
    position: absolute;
    top: 320px;
    left: 50px;
    color: #fff;

}

p {
    /*forgot password? */
    position: absolute;
    top: 270px;
    left: 50px;
    color: #fff;
    cursor: pointer;
}

/*p:hover {
    color: rgb(152, 2, 152);
  
  }*/
/*create new account*/
a {
    position: absolute;
    top: 400px;
    left: 50%;
    translate: -50% 0;
    color: white;
    text-decoration: none;
}
a.home {
    top: 420px;
}

/*a:hover {
    color: rgb(95, 5, 5);
}*/

input[value="login"], input[value="Reset"] {
    position: absolute;
    top: 360px;
    left: 50%;
    translate: -50% 0;
    width: 130px;
    height: 35px;
    background: rgb(152, 2, 152);
    border: none;
    outline: none;
    color: #fff;
    border-radius: 15px;
    font-size: 20px;

}

input[value="login"]:hover, input[value="Reset"]:hover {
    background-color: #fff;
    color: rgb(152, 2, 152);
    cursor: pointer;

}

::placeholder {

    color: gray;
    opacity: 0.8;
    font-size: larger;
    font-weight: 200;

}

:-ms-input-placeholder {

    color: gray;
}

::-ms-input-placeholder {

    color: gray;
}