@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Primary: Charming Nature */
    --primary-100: #F2FFF9;
    --primary-200: #FBBEDE;
    --primary-300: #E090DF;
    --primary-400: #A44CD3;
    --primary-500: #8800C7;
    --primary-600: #3d0c53;
    --primary-900: rgb(32, 0, 38);
}

body {
    
    font-family: 'Aboreto', cursive;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: var(--primary-300);
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-500);
}

#head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:static;
    width: 100vw;
    height: 10vh;
    background-image: linear-gradient(1355deg, #8E24AA, #1E88E5);
        background-repeat: no-repeat;
        background-size: contain;
    font-family: 'Aboreto', cursive;
    letter-spacing: 0.3em;
    padding: 10px;
    color: var(--primary-100);
    z-index: 4;
}
#head h1 {
    font-size: x-large;
}

.logo a {
    padding-left: 40px;
    letter-spacing: 0.2em;
    font-weight: bolder;
    font-size: xx-large;
}

.links {
    display: flex;
    gap: 20px;
    padding: 15px;
    
}

a {
    font-size: large;
}

a:link {
    color: var(--primary-100);
    text-decoration: none;
}

/* visited link */
a:visited {
    color: var(--primary-100);
    text-decoration: none;
}

/* mouse over link */
nav a:hover {
    color: var(--primary-300);
}

/* selected link */
a:active {
    color: var(--primary-100);
}

.active {
    display: none;
}


#open {
    display: none;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.Test {
    padding: 15px;
    font-size: x-large;
    margin: 10px;
}


.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 22%;
    left: 10%;
    height: auto;
    width: 80%;
    padding: 15px;
    background-image: linear-gradient(1355deg, #8E24AA, #1E88E5);
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    border: #3d0c53 2px solid;
    border-radius: 40px;
    
}



#container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

p {
    font-size: 25px;
    font-family: sans-serif;
    margin: 30px 20px;
}

input[type="radio"] {
    display: none;
}

label {
    display: inline-block;
    padding: 8px 16px;
    margin: 10px 15px;
    font-size: 16px;
    font-family: sans-serif;
    cursor: pointer;
    border-radius: 5px;
    background-color: #fff;
    color:var(--primary-600);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

label:hover {
    background-color: #e6e6e6;
}

input[type="radio"]:checked+label {
    background-color: var(--primary-400);
        border: 1px var(--primary-600) solid;
        box-shadow: 1px 2px black;
        color: var(--primary-600);
}

button {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 23px;
    color: var(--primary-600);
    background-color: var(--primary-100);
    border: 2px var(--primary-100) solid;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    box-shadow: 4px 4px rgb(85, 84, 84);
}

button:hover {
    color: var(--primary-100);
        background-color: transparent;
        transition: 0.3s all;
        border: 3px var(--primary-400) solid;
        box-shadow: none;
}



@media screen and (max-width: 690px)and (min-width: 450px) {
    #head {
        font-size: xx-small;
        padding: 35px 0;
        letter-spacing: 0em;
    }

    #head a {
        font-size: large;
    }

    .logo a {
        letter-spacing: 0;
        font-size: x-large;
    }

}

@media screen and (max-width: 790px)and (min-width: 690px) {
    #head {
        font-size: xx-small;
        padding: 38px 0;
        letter-spacing: 0.2em;
    }
        

    .logo {
        font-size: large;
    }

}

@media screen and (max-width: 690px)and (min-width: 450px) {
    #head {
        font-size: xx-small;
        padding: 38px 0;
        letter-spacing: 0.2em;
    }
    #head h1 {
        font-size: large;
    }

    
        

    .logo {
        font-size: large;
    }

}


/* small screen */

@media screen and (max-width: 450px) {
    body {
        background-color: var(--primary-100);
        font-family: 'Aboreto', cursive;
    }

    #head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: sticky;
        width: 100vw;
        height: 10vh;
        background-color: var(--primary-900);
        font-family: 'Aboreto', cursive;
        letter-spacing: 0.1em;
        padding: 10px;
        color: var(--primary-100);
        z-index: 3;
    }

        #head h1 {
            font-size: large;
        }

    .links {
        display: none;
    }

    .logo a {
        padding: 0 10px;
        letter-spacing: 0.1em;
        font-weight: bold;
        font-size: large;
    }


    #bars {
        display: block;
    }

    .active {
        width: 100%;
        position: absolute;
        display: flex;
        gap: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(1355deg, #8E24AA, #1E88E5);
        background-repeat: no-repeat;
        background-size: contain;
        transform: translateY(-270px);
        transition: 0.4s linear;
        z-index: 1;
    }

    .row {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 100%;
        height: 10vh;
    }

    .show-nav {
        transform: translateY(0);
    }

    a {
        font-size: x-large;
        text-decoration: none;
    }

    #open {
        display: inline;
    }

    nav button {
        all: unset;
    }



}